@page "/"

<img src="https://www.sait.ca/assets/images/sait/logos/logo-sait-vertical-downloadable.png" 
height="40px" width="30px" />
<h1>Hello, SAIT students! </h1>

Welcome to your new app. We are excited to have you here.
